<h1><%= @song.id ? "Edit Song" : "Add Song" %></h1>
<%= form_with(model: [@artist, @song], local: true, class: "ui form") do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, placeholder: "Song Name" %>

  <%= f.label :album %>
  <%= f.text_field :album, required: true, placeholder: "Album Name" %>

  <%= f.label :track_number %>
  <%= f.text_field :track_number, required: true, placeholder: "Track Number" %>

  <%= f.label :year %>
  <%= f.text_field :year, required: true, placeholder: "Song Year" %>

  <%= f.submit %>
<% end %>
  