<h1><%= @artist.name %> Songs</h1>
<ul><% @artist.songs.each do |song| %>
  <li><%= song.name %></li>
  <%= link_to 'Edit Song', edit_artist_song_path(@artist, song) %>
  <%= link_to 'Delete Song', artist_song_path(@artist, song), method: :delete %>
<% end %><ul>
<%= link_to 'Return to Artist', artist_path(@artist) %>
