<h1 class="ui center aligned header"><%= @board.id ? 'Edit Billboard' : 'Add Billboard' %></h1>
<div class="ui form"><%= form_with(model: @board, local: true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Billboard Name" %>
  </div>
  <div class="field">
    <%= f.label :year %>
    <%= f.text_field :year, required: true, placeholder: "Billboard Year" %>
  </div>
  <div class="field">
    <div><%= f.label :description %></div>
    <%= f.text_area :description, placeholder: "Billboard Description" %>
  </div>
  <button class="ui green button" type="submit">Submit</button>
  <% end %>
</div>
<div class="ui hidden divider">
<%= link_to 'Back', @board.id ? board_path(@board) : boards_path, class:"ui button"%> 